p {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin: 0 2rem;
    text-align: center;
    width: 200px;
  }
  i {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 0.2rem;
  }
}
